<div class="overall">
  <button mat-button [matMenuTriggerFor]="menu">
    {{currency[currencySel].icon}} {{currency[currencySel].abbr}}
    <mat-icon color="accent">arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngFor="let c of currency; let i = index" mat-menu-item (click)="setCurrency(i)">{{currency[i].icon}} {{currency[i].abbr}}</button>
  </mat-menu>
  <button mat-mini-fab matTooltip="Add item" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>

    <cdk-accordion class="shop-accordion">
        <cdk-accordion-item
          *ngFor="let list of shopList; let index = index;"
          #accordionItem="cdkAccordionItem"
          class="shop-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index">
          <div class="shop-accordion-item-header" (click)="accordionItem.toggle()">
            {{ list.shop }}
            <button mat-icon-button>
                <mat-icon matBadge={{badge[index]}} matBadgeColor="accent" [routerLink]="'../../trolley/'+id+'/'+list.items[0].shop_id" matTooltip="Click to view trolley" >shopping_cart&hellip;</mat-icon>
            </button>
            <span class="shop-accordion-item-description">
              Click to {{ accordionItem.expanded ? 'close' : 'open' }}
            </span>
            <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary" selected>{{currency[currencySel].symbol}}{{costs[index].cost | number: '1.2-2'}}</mat-chip>
          </mat-chip-list>
          </div>

          <div
            class="shop-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index">

            <mat-list>
                <mat-divider></mat-divider>
                <mat-list-item *ngFor="let items of list.items; let in2 = index">
                  <button mat-icon-button (click)="editDialog(items, list.shop)">
                    <mat-icon>edit</mat-icon>
                  </button>

                    <span>{{items.qty}}x&nbsp;{{items.nett}}{{items.nett_unit}}</span> &nbsp;{{items.label}} @ {{currency[currencySel].symbol}}{{items.price * items.qty | number: '1.2-2'}}

                    <button mat-icon-button matTooltip="Move to another trolley" (click)="moveDialog(items, list.shop)" class="toggle-button">
                      <mat-icon color="accent">low_priority</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="View price trend" class="toggle-button" (click)="trendDialog(items.item_id)">
                      <mat-icon color="accent">trending_up</mat-icon>
                    </button>
                    
                    <button mat-icon-button class="toggle-button">
                      <mat-icon *ngIf="!items.trolley" matTooltip="Put in the trolley" color="accent" (click)="setTrolleyCounter(index, in2)">shopping_cart</mat-icon>
                      <mat-icon *ngIf="items.trolley" matTooltip="Remove from the trolley" color="primary" (click)="setTrolleyCounter(index, in2)">remove_shopping_cart</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="Remove from shopping list" (click)="delShopListItem(items.edge_id)">
                      <mat-icon color="warn">
                        delete
                      </mat-icon>
                    </button>

                    <mat-divider></mat-divider>  
                </mat-list-item>
            </mat-list>

          </div>

        </cdk-accordion-item>
      </cdk-accordion>      
</div>