table {
    width: 90%;
    margin: auto;
    table-layout: fixed;
    //min-width: 500px;
}

td.mat-cell, th.mat-header-cell {
    text-align: center;
    justify-content:center;
}


.paginator {
    margin: auto;
    width: 100%;
    //min-width: 500px;
}

.spinner {
    margin: auto;
    width: 10%;
}