<div class="spinner">
    <mat-progress-spinner *ngIf="spinner" class="example-margin" color="accent" mode="indeterminate" [value]="30">
    </mat-progress-spinner>
  </div>

  <h1>Templates</h1>

<div>
    
    <button *ngIf="!enabled" mat-raised-button color="accent" (click)="enableTemplates()">Enable templates</button>
    
    <div *ngIf="addnew">
        <button mat-stroked-button color="primary" (click)="addNewTemplate()">New blank template</button>
    </div>
    
        <mat-accordion class="list-center" *ngIf="tpls" [style.textAlign]="'center'">
            <mat-expansion-panel *ngFor="let t of tpls"> 
                <mat-expansion-panel-header>
                <input #activateInput matInput disabled="true" [value]="t.label ? t.label : t.date" class="slist-input" (click)="noexpansion($event)">
            </mat-expansion-panel-header>

                <button mat-icon-button matTooltip="Rename shopping list" (click)="rename(activateInput, editIcon, t)">
                    <mat-icon #editIcon color="accent">text_format</mat-icon>
                </button>

                <button mat-icon-button (click)="makeShopList(t.id)" matTooltip="Create new shopping list">
                    <mat-icon color="accent">shopping_bag</mat-icon>
                </button>
                
                <button mat-stroked-button class="list-button" color="accent" [routerLink]="'details/' + t.id">Open</button> 
            </mat-expansion-panel>
        </mat-accordion>

</div>