.list-center{
    margin: auto;
    width: 70%;
}

.slist-input:disabled {
    background: #303030;
    color: white;
    border: none;
    font-size: larger;
}

.list-button{
    margin-left: auto;
}
