.list-center{
    margin: auto;
    //max-width: 70%;
}
 
.list-button{
    margin-left: auto;
}

.visibility{
    padding: 10px;
}

.spinner {
    margin: auto;
    width: 10%;
}

.slist-input:disabled {
    background: #424242;
    color: white;
    border: none;
    font-size: larger;
}

.slist-date {
    font-size: xx-small;
}