<div class="spinner">
    <mat-progress-spinner *ngIf="spinner" class="example-margin" color="accent" mode="indeterminate" [value]="30">
    </mat-progress-spinner>
</div>
<div>
    <h1 *ngIf="history">Historical view</h1>
    <h1 *ngIf="!history">Active lists</h1>
    <button *ngIf="history" mat-stroked-button color="primary" (click)="getHistory()">
        Active only
    </button>
    <button *ngIf="!history" mat-stroked-button color="primary" (click)="getHistory()">
        Historical
    </button>
    &nbsp;
    <button mat-stroked-button color="primary" (click)="createShopList()">
        New
    </button>
    &nbsp;
    <button mat-stroked-button color="primary" routerLink="templates">
        Templates
    </button>
    <br>
</div>

    <mat-accordion>
        <mat-expansion-panel *ngFor="let list of visible; let index = index" class="list-center" [style.maxWidth.pc]="maxWidth">
            <mat-expansion-panel-header>
                <mat-panel-title>

                    <span class="slist-input">{{list.label ? list.label : list.date}}</span>
                    

                </mat-panel-title>
                
                <mat-panel-description>
                    <!--<span class="slist-date">{{list.date | date : 'dd LLL YYYY'}}</span>-->
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-menu #slistmenu="matMenu">
                <ng-template matMenuContent>
                    
                </ng-template>
            </mat-menu>

            <input #activateInput matInput hidden="true" disabled="true" [value]="list.label ? list.label : list.date" class="slist-input">
            
            <span class="slist-date">{{list.date | date : 'dd LLL YYYY'}}</span>
            <br>
            

            <button mat-icon-button (click)="makeTemplate(list.id)" matTooltip="Use as basis for a template...">
                <mat-icon color="accent">difference</mat-icon>
            </button>
            
            <button mat-icon-button matTooltip="Rename shopping list" (click)="rename(activateInput, editIcon, list)">
                <mat-icon #editIcon color="accent">text_format</mat-icon>
            </button>
                
            <button mat-icon-button matTooltip="Click to make visible" *ngIf="list.hidden === true; else visible" (click)="toggleVisibility(list.hidden, list.id, index)">
                <mat-icon class="visibility" color="primary">visibility_off</mat-icon>
            </button>
            <ng-template #visible>
                <button mat-icon-button matTooltip="Click to hide" (click)="toggleVisibility(list.hidden, list.id, index)">
                    <mat-icon class="visibility" color="accent">visibility</mat-icon>
                </button>
            </ng-template>

            &nbsp;
                
            <button mat-stroked-button color="accent" class="list-button" [routerLink]="'/shopping/list/' + list.id">Open</button>
            
        
        </mat-expansion-panel>
    </mat-accordion>
