table {
    width: 90%;
    margin: auto;
    table-layout: fixed;
    //min-width: 500px;
}

.paginator {
    margin: auto;
    width: 100%;
    //min-width: 500px;
}

.spinner {
    margin: auto;
    width: 10%;
}